In [1]:
import pandas as pd

In [2]:
# Plug potential drug to model
# read data fitur drug
data_drug = pd.read_csv("Output/fitur_drug_pubchem_ap.csv", sep=",", header=0)
data_drug.head()

,smiles,idx_code,chembl_code,0,1,2,3,4,5,6,...,871,872,873,874,875,876,877,878,879,880
0,CCOC(=O)C1=C[C@@H](OC(CC)CC)[C@H](NC(C)=O)[C@@...,x,chembl1200340,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,[H][C@]1(OC(=C[C@H](NC(N)=N)[C@H]1NC(C)=O)C(O)...,x,chembl222813,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,CC(=O)NC([C@H]1CC(C(O)=O)C[C@@H]1N=C(N)N)C(=O)...,88428,chembl293591,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,CCN(CC)C(=O)[C@@H]1OC(C(O)O)=C[C@H](N=C(N)N)[C...,247120,chembl344548,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [3]:
#get feature and label only
data_drug_X = data_drug.iloc[:, 3:884]
data_drug_X.head()

,0,1,2,3,4,5,6,7,8,9,...,871,872,873,874,875,876,877,878,879,880
0,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0

In [4]:
import pickle

In [5]:
# 1. logistic regression standar model
#membuka kembali model untuk digunakan dalam prediksi senyawa baru
with open("Output/model_logistic_pubchem", "rb") as input_file:
    model_baru = pickle.load(input_file)

In [6]:
#menggunakan model tersimpan untuk prediksi
y_drug_pred_lr = model_baru.predict(data_drug_X)

In [7]:
y_drug_pred_lr

array([1, 1, 1, 1])

In [8]:
######################################################

In [9]:
# 2. logistic regression optimize model
#membuka kembali model untuk digunakan dalam prediksi senyawa baru
with open("Output/model_logistic_optimize_pubchem", "rb") as input_file:
    model_baru_opt = pickle.load(input_file)

In [10]:
#menggunakan model tersimpan untuk prediksi
y_drug_pred_opt_lr = model_baru_opt.predict(data_drug_X)

In [11]:
y_drug_pred_lr

array([1, 1, 1, 1])